.hero {
  background-color: #4c6159;
  color: white;
  padding-block: 40px;
}

.hero-container {
  width: 90%;
  max-width: 80rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-title {
  font-size: 3.5rem;
  color: #f4ce14;
}

.hero-subtitle {
  font-size: 2.5rem;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 500px;
}

.hero-text button {
  padding: 12px 24px;
  background-color: #f4ce14;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
}

.hero-image {
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  height: auto;
}

/* 📱 Mobile & small tablets */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    align-items: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-image {
    margin-top: 20px;
  }
}
