.specials {
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
  padding: 40px 20px;
  text-align: center;
  padding: 1rem;

}

.special-title {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Helps wrap on small screens */
  gap: 1rem;
}

.specials h2 {
  font-size: 28px;
  margin: 0;
  flex: 1; /* Allows h2 to shrink properly next to button */
  text-align: left;
}

.menu-btn {
  padding: 10px 20px;
  background-color: #f4ce14;
  border: none;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.cards {
  max-width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .specials{
    max-width:100%;
    padding: 0;
  }
  .special-title {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .specials h2 {
    font-size: 20px;
    text-align: left;
  }

  .menu-btn {
    align-self: flex-start;
  }
}
