.header {
    max-width: 80rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: #fff;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  